*{ 
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    background-size: cover;
    font-family: sans-serif, serif;   
}
body {
    width: min(100%, 63rem);
    margin-inline: auto;
    padding: 0 2%;
    background: #fff;
}
p {
    font-size: 1rem;
    letter-spacing: 1.6px;
    line-height: 20px;
}
.project-section {
    position: relative;  
    width: 100%;
    height: 100vh;
    display: flex;
}                   
.project-section-heading {
    margin-top: 0;
    width: 100%;
    height: 10%;
    z-index: 2;
}
.project-section-heading h1 {
    text-align: center;
    align-content: center;
    padding: 2% 0;
    background: #2c2c2c;
    font-size: 2.5rem;
    letter-spacing: 3.2px;
    color: #fff;
    font-family: sans-serif;
    animation: animate 1s ease-in-out forwards;
}                 
#project-container {
    width: 100%;
    height: 100%;
    position: absolute;
    background-size: cover;
    object-fit: cover;
    background-position: center;
} 
.project-item {
    width: 23%;
    height: 30%;
    display: inline-block; 
    background-size: cover; 
    position: absolute;  
    z-index: 1;  
    top: 23%;
    transition: .5s; 
    border-radius: 20px; 
    box-shadow: 2px 2px 5px #222;
}   
#project-container .project-item:nth-child(1), 
#project-container .project-item:nth-child(2) { 
    left: 0;
    top: 0; 
    border-radius: 0;
    width: 100%;
    height: 100%; 
    box-shadow: none;
} 
#project-container .project-item:nth-child(3) {
    left: calc(4%);
} 
#project-container .project-item:nth-child(4) {
    left: calc(28%);
} 
#project-container .project-item:nth-child(5) {
    left: calc(52%);
} 
#project-container .project-item:nth-child(n+6) {
    left: calc(76%); 
    opacity: 0;  
} 
.project-item .project-content {
    padding: 5px;
    background: #fff;
    position: absolute; 
    top: 54%;
    left: 4%; 
    width: 71%;
    text-align: center;  
    display: none;
    border-radius: 3px;
    animation: animate 1s ease-in-out forwards;
}
.project-item:nth-child(2) .project-content {
    display: block;           
} 
.project-content h2 {
    width: 100%; 
    align-content: center; 
    color: #000;
    font-weight: 500;
    letter-spacing: 2.4px; 
} 
.project-content p {
    color: #000;
    padding-top: 2px; 
} 
.project-content a {
    font-size: 1rem;
    letter-spacing: 1.6px;
}
.project-content a:hover {
    cursor: pointer;
    text-decoration: underline 2px;
}
@keyframes animate {
    0% {
        opacity: 0;
        transform: translate(0, 100px); 
    }
    100% {
        opacity: 1;
        transform: translate(0, 0);
    }
} 
#project-container .project-btn-arrow {
    text-align: center;
    width: 100%; 
    position: absolute;
    bottom: 3%;
    z-index: 2;
}
.project-btn-arrow button {
    margin: 0 1%;
    width: 3rem;  
    border: none;
    background: none;  
} 
#project-container .project-btn-arrow img {
    padding: 5%;
    width: 60%;
    border-radius: 5px;
    background: #eee;
    cursor: pointer; 
    transition: .3s; 
    font-size: 2rem;
    font-weight: 500;
    transition: .3s; 
} 
#project-container .project-btn-arrow img:hover {
    background-color: #aaa;
} 
.tour-section a {
    text-decoration: none;
    position: fixed; 
    font-size: 1rem;
    top: 18%;
    letter-spacing: 1.6px;
    padding: 10px;
    align-content: center;
    color: #fff;
    border-radius: 0 20px 20px 0;
    background: #4356ff;
    border: none;
    z-index: 1;
}
.tour-section a:hover {
    cursor: pointer;
    text-decoration: underline 2px;
}
.tour-heading h1 {  
    padding: 2%;
    background: #2c2c2c;
    color: #fff;
    text-align: center;
    align-content: center;
    font-size: 3rem;
    letter-spacing: 4.8px;
}
.tour-content p {
    padding: 1%;
    color: #000;
    line-height: 1.5rem;
    letter-spacing: 1.6px;
    background: #fff
}
/*Banaue Rice Terraces*/
.banaue-content-heading { 
    background-image: url(images/banaue-terraces.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.content-heading h2 {
    position: absolute; 
    text-align: center;
    color: #fff; 
    bottom: 0;  
    width: 100%;
    padding: 10px;
    letter-spacing: 2.4px;
    background: #2c2c2c;
}
.banaue-content-heading1 { 
    background-image: url(images/banaue1-terraces.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/*Mt. Mayon*/
.mtmayon-content-heading { 
    background-image: url(images/mtmayon.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.mtmayon-content-heading1 { 
    background-image: url(images/mtmayon1.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/*Intramuros*/
.intramuros-content-heading { 
    background-image: url(images/intramuros.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.intramuros-content-heading1 { 
    background-image: url(images/intramuros1.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/*Chocolate Hills*/
.chocohills-content-heading { 
    background-image: url(images/chocohills.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
.chocohills-content-heading1 { 
    background-image: url(images/chocohills1.jpg);
    background-attachment: fixed;
    width: 100%;
    padding: 28% 0;
    position: relative;
    object-fit: cover;
    background-size: cover;
    background-position: center;
}
/*Responsive Design*/
@media screen and (max-width: 768px) {
    .tour-heading h1 {
        font-size: 6.2vw;
    }
    .content-heading {
        padding: 13rem 0;
    }     
}
@media screen and (max-width: 481px) {
    .project-section-heading h1 {
        font-size: 8.3vw;
    }
    .content-heading h2 {
        font-size: 5.2vw;
    }
    
}



